langgraph
band-sdk[langgraph]
langchain-groq
langchain-openai
python-dotenv
thenvoi-sdk[langgraph]
livekit-api
livekit
groq
fastapi
uvicorn
PyGithub
requests
pdfminer.six 
python-docx
transformers
torch
